{% extends 'base.html' %}

{% block title %} Сброс пароля прошёл успешно {% endblock %}
{% load static %}
{% block static %} 
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% load user_filters %}
{% block content %}

<main class="main container">
    <div class="main__header">
        <h1 class="card-header">Сброс пароля прошёл успешно</h1>
    </div>
    <div class="main__header">
        <h1 class="card-header">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</h1>
    </div> 
</main>
{% endblock %}