<!-- Страничка отображения одного рецепта -->

{% extends 'base.html' %} 

{% block title %} {{ recipe.name }} {% endblock %}
{% csrf_token %}
{% load static %}
{% block static %} 
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% load user_filters %}
{% block content %}
{% csrf_token %}

    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>
                <div class="single-card__favorite">
                    {% if user.is_authenticated and recipe.author != user %}
                        {% if recipe|is_recipe_favorited:user %}
                            <button class="button button_style_none" name="favorites">
                                <span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                            <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                        {% else %}
                            <button class="button button_style_none" name="favorites" data-out>
                                <span class="icon-favorite icon-favorite_big"></span></button>
                            <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>                            
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <ul class="single-card__items">
            {% for tag in recipe.tag.all %}
                {% if tag.name == 'Завтрак' %}
                    <li class="single-card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                {% endif %}
                {% if tag.name == 'Обед' %}
                    <li class="single-card__item"><span class="badge badge_style_green">Обед</span></li>
                {% endif %}
                {% if tag.name == 'Ужин' %}
                    <li class="single-card__item"><span class="badge badge_style_purple">Ужин</span></li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span>{{ recipe.cooking_time }}</p>
                <ul class="single-card__items">
                    <li class="single-card__item">
                        <p class="single-card__text"><span class="icon-user"></span>
                            <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.username }}</a>
                        </p>
                    </li>
                    {% if user == recipe.author %}
                        <li class="single-card__item">  
                            <a style="margin-left: 2.5em" href="./edit/" class="single-card__text">Редактировать рецепт</a></li>
                    {% endif %}
                </ul>
            </div>
        
        {% if user.is_authenticated %} 
            <ul class="single-card__items">
                {% if recipe|is_recipe_shoped:user %}
                    <li class="single-card__item"><button class="button button_style_light-blue-outline" name="purchpurchases" >
                        <span class="icon-check button__icon"></span> Рецепт добавлен</button></li>
                {% else %}
                    <li class="single-card__item"><button class="button button_style_blue" name="purchpurchases" data-out>
                        <span class="icon-plus"></span> Добавить в покупки</button></li>
                {% endif %}

            {% if user != recipe.author %} 
                
                {% if recipe.author|is_author_followed:user %}
                    <li class="single-card__item"><button class="button button_style_light-blue-outline" name="subscribe">
                        <span class="icon-check button__icon"></span>Отписаться от автора</button></li>
                {% else %}
                    <li class="single-card__item"><button class="button button_style_blue" name="subscribe" data-out>
                        <span class="icon-plus"></span>Подписаться на автора</button></li>
                {% endif %}
            {% endif %}
            </ul>
        {% endif %}

            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингредиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for amount in recipe.amount_set.all %}
                    <p class=" single-card__section-item">{{ amount.ingredient.name }} - {{ amount.units }} {{ amount.ingredient.measurement_unit }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.text|linebreaksbr }}</p>
            </div>
        </div>


        {% load static %}

        <script src="{% static 'js/config/config.js' %}"></script>

        <script src="{% static 'js/components/Purchpurachases.js' %}"></script>
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/components/Subscribe.js' %}"></script>
        
        <script src="{% static 'js/components/MainCards.js' %}"></script>
        <script src="{% static 'js/components/SingleCard.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'singlePage.js' %}"></script>

{%endblock%}