<!-- Карточка рецепта, используется на главной странице и при отображениях избранных рецептов -->

{% csrf_token %}
{% load user_filters %}
    
    <div class="card" data-id="{{ recipe.id }}">

        <a href="{% url 'recipe' recipe.id %}" class="link" >
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="card__image"></a>
        
        <div class="card__body">
            <a class="card__title link" href="{% url 'recipe' recipe.id %}" >{{ recipe.name }}</a>
            <ul class="card__items">
        
            {% for tag in recipe.tag.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.style}}">{{ tag.name }}</span></li>
            {% endfor %}
                
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span>{{ recipe.cooking_time }}</p>
                <p class="card__text"><span class="icon-user"></span> 
                    <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.username }}</a></p>
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="card__footer">
                {% if recipe|is_recipe_shoped:user %}
                    <button class="button button_style_light-blue" name="purchpurchases">
                        <span class="icon-check button__icon"></span>Рецепт добавлен</button>
                {% else %}
                    <button class="button button_style_light-blue" name="purchpurchases" data-out>
                        <span class="icon-plus button__icon"></span>Добавить в покупки</button>
                {% endif %}

                {% if recipe.author != user %}
                    {% if recipe|is_recipe_favorited:user %}
                        <button class="button button_style_none" name="favorites">
                            <span class="icon-favorite icon-favorite_active"></span></button>
                    {% else %}
                        <button class="button button_style_none" name="favorites" data-out>
                            <span class="icon-favorite"></span></button>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>